{# templates/agent/_import.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'SPV_Availability_Management'|trans }}
{% endblock %}

{% block body %}

    <turbo-frame id="import_frame">
        <h1 class="text-body-emphasis">{{ 'Import_an_Excel_file'|trans }}</h1>
        <p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>
        {{ form_start(form, { 'attr': { 'data-turbo-frame': 'import_frame', 'class': 'row g-3' } }) }}
        <div class="input-group mb-3">
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </turbo-frame>

    {# Afficher le message de succès dans un Turbo Frame séparé si besoin #}
    {% for message in app.flashes('success') %}
        <turbo-frame id="import_success_frame">
            <p>{{ message }}</p>
        </turbo-frame>
    {% endfor %}
{% endblock %}